* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Sans-serif;
}

body{
  background-color:rgba(198, 179, 166, 0.265);
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*justify-content: center;causes the header to be centered*/
  align-items: center; 
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  width: 100%;
  background-color: #483930d9;
  color: white;
padding: 0.5em 3em 0.5em 1.5em; }

#logo-header{
  display:inline-block;
}

#SingOut{
    display: inline-block;
    padding-left: 54em;
    color: rgb(249, 249, 249);
    font-size: 18px;
}

.vline{
  border-left: 2px solid rgba(198, 179, 166);
  height: 60px;
  padding-right: 3.5em;
}

.icons-size{
  color: #333;
  font-size: 14px;
}
.action{
  position: absolute;
  right: 30px;
  top:20px
}
.action .profile{
    border-radius: 50%;
    cursor: pointer;
    height: 55px;
    overflow: hidden;
    position: relative;
    width: 56px;
    background: #ada9a9bf;
}
.action .profile img{
  width: 100%;
  top:0;
  position: absolute;
  object-fit: cover;
  left: 0;
  height: 100%;
}
.action .menu{
    background-color: #FFF;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    padding: 10px 20px;
    position: absolute;
    right: -10px;
    width: 250px;
        transition: 0.5s;
    top: 120px;
    visibility: hidden;
    opacity: 0;
}

.action .menu.active{
  opacity: 1;
  top: 80px;
  visibility: visible;
}
.action .menu::before{
  background-color:#fff;
  content: '';
  height: 20px;
  position: absolute;
  right: 30px;
  transform:rotate(45deg);
  top:-5px;
  width: 20px;
}
.action .menu h3{
  color: #555;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3em;
  padding: 20px 0px;
  text-align: left;
  width: 100%;
}
.action .menu h3 div{
  color: #818181;
  font-size: 14px;
  font-weight: 400;
}
.action .menu ul li{
  align-items: center;
  border-top:1px solid rgba(0,0,0,0.05);
  display: flex;
  justify-content: left;
  list-style: none;
  padding: 10px 0px;
}
.action .menu ul li img{
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition:0.5s
}
.action .menu ul li .title{
  display: inline-block;
  color: #555;
  font-size: 14px;
  font-weight: 600;
  padding-left: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}
.action .menu ul li:hover img{
  opacity: 1;
}

/*main{
    width: 100%;
    
}*/


 

 

 
 

 

/*    footer     */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.footer {
  line-height: 1.5;
  font-family:   sans-serif;
  background-color: #483930d9;
  padding-bottom: 1em;
  margin-top: -10em;
  width: 100%;
    
   

 }

.footerrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 10em;
  padding-top: 2em;
   
 }

ul {
  list-style: none;
}

.footer-col {
  width: 30%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 22px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #640527;
  height: 2px;
  width: 50px;
}

.footer-col ul li {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
  margin: 0;
  padding: 0;
}
.fa-brands {
  padding: 2px;
  padding-bottom: 1em;
}
#copyRight {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 300;
  display: block;
  margin-top: 2em;
  margin-bottom: -1px;
}

#ul{
    padding: 0;
}

#logo-footer{
  width: 61%;
  padding-top: 3em;
}

#SingOut a{
  text-decoration: none;
   cursor: pointer;
   color: rgb(249, 249, 249);
}
#SingOut a:hover{
   
   color: rgb(249, 249,249);
}